<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jms 
        http://www.springframework.org/schema/jms/spring-jms.xsd">
	
	<context:annotation-config></context:annotation-config>

	<context:component-scan base-package="com.cobee.activemqtoss.component.jms.listener">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 支持@JmsListener自动启动监听器 -->
     <jms:annotation-driven/>

	<!-- 真正可以产生Connection的ConnectionFactory，由对应的JMS服务厂商提供-->
     <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616" />
     </bean>
	
	<!--这个是队列目的地，点对点的-->
     <bean id="firstQueue" class="org.apache.activemq.command.ActiveMQQueue">
     	<constructor-arg>
        	 <value>firstQueue</value>
    	 </constructor-arg>
     </bean>
     
     <!-- 配置一个通用的JMS监听容器 -->
	 <bean id="jmsListenerContainerFactory" 
      	   class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
    	 <property name="connectionFactory" ref="connectionFactory"/>
	</bean> 

</beans>